<% let interviewDate = new Date(interview.date); %> <% let months = ['January',
'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
'October', 'November', 'December']; %> <% let year =
interviewDate.getFullYear(); %> <% let month = months[interviewDate.getMonth()]
%> <% let date = interviewDate.getDate(); %>

<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('/css/interview_students.css') %>"
/>

<div id="interview-students-container">
  <h1>List of Allocated Students</h1>
  <div id="interview-students-table">
    <form action="/interviews/update" method="post">
      <table>
        <caption>
          List of students allocated for the interview: <%= interview.name %> on
          <%= month %> <%= date %>, <%= year %>
        </caption>
        <thead>
          <tr>
            <th>ID</th>
            <th style="width: 200px; max-width: 200px">Name</th>
            <th style="width: 200px; max-width: 200px">College</th>
            <th>Batch</th>
            <th>Status</th>
            <th>DSA score</th>
            <th>Web Dev score</th>
            <th>React score</th>
            <th>Mark result status</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i< interview.results.length; i++){ %> <%-
          include('_interview_student', {student: interview.results[i].student,
          result: interview.results[i]}) -%> <% } %>
        </tbody>
      </table>
      <input type="submit" value="Update Result Status" />
      <a href="/interviews/list"><button type="button">Back</button></a>
    </form>
  </div>
</div>
